body {
    background-color: #493F40;
    font-family: 'Londrina Solid', sans-serif;
    max-width: 1680px;
}

.sidebar {

    left: 0;
    right: auto;
    width: 250px;
    height: 100%;
}

.sidebar ul {
    list-style-type: none;

}

.sidebar ul a {

    font-size: 45px;
    text-decoration: none;
    color: White;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 68px;
    padding-left: 10px;
    transition: .8s;

}

ul li:hover a {

    color: orange;
    padding-left: 30px;

}

.word {

    margin-top: -750px;
}

#first {

    color: white;
    font-size: 40px;
    margin-top: 200px;
    margin-left: 85px;

}

#firstRed {

    color: #E2306C;
    font-size: 40px;
    margin-top: -87px;
    margin-left: 175px;

}

#firstSec {

    color: white;
    font-size: 40px;
    margin-top: -40px;
    margin-left: 85px;
}

#sec {

    color: white;
    font-size: 40px;
    margin-top: 80px;
    margin-left: 85px;

}

#secSec {

    color: #FFDC7F;
    font-size: 40px;
    margin-top: -40px;
    margin-left: 85px;

}

#secColor {

    color: #EBE0CE;
    font-size: 40px;
    margin-top: -40px;
    margin-left: 85px;

}

#secThird {

    color: white;
    font-size: 40px;
    margin-top: -87px;
    margin-left: 210px;
}

#third {

    color: white;
    font-size: 40px;
    margin-top: 80px;
    margin-left: 85px;
}

#thirdSec {

    color: #FFDC7F;
    font-size: 40px;
    margin-top: -40px;
    margin-left: 85px;

}

#fourth {

    color: white;
    font-size: 40px;
    margin-top: 80px;
    margin-left: 85px;

}

#fourthSec {

    color: white;
    font-size: 40px;
    margin-top: -40px;
    margin-left: 85px;

}

#fourthColor {

    color: #FFDC7F;
    font-size: 60px;
    margin-top: -40px;
    margin-left: 85px;

}

.line {

    margin-top: 150px;
}

#title {

    text-align: center;
    font-size: 150px;
    font-stretch: narrower;
    color: #FFDC7F;
    text-decoration-line: underline;

}

/*first*/
.energy {

    padding: 130px;
    background-color: #D9D9D9;

}

#energyy {

    text-align: center;
    font-size: 85px;
    color: #493F40;
    margin-top: -120px;

}

#energyN1 {

    font-size: 45px;
    margin-left: 100px;
    color: black;

}

#energyN2 {

    font-size: 45px;
    margin-left: 1090px;
    margin-top: -98px;
    color: black;

}
#bar1-2 {

    margin-left: 600px;
    margin-top: -200px;
    
}

#bar1-1 {

    margin-left: 100px;


}

#in {

    font-size: 45px;
    margin-left: 40px;
    margin-top: -10px;

}

#ex {

    font-size: 45px;
    margin-left: 1000px;
    margin-top: -96px;

}

/*second*/

.spirit {

    padding: 130px;
    background-color: #D9D9D9;

}

#spiritt {

    text-align: center;
    font-size: 85px;
    color: #493F40;
    margin-top: -120px;

}

#spiritN1 {

    font-size: 45px;
    margin-left: 100px;
    color: black;

}

#spiritN2 {

    font-size: 45px;
    margin-left: 1090px;
    margin-top: -98px;
    color: black;
    
}

#bar2-1 {

    margin-left: 100px;

}

#bar2-2 {

    margin-left: 600px;
    margin-top: -100px;

}

#int {
    font-size: 45px;
    margin-left: 40px;
    margin-top: -10px;

}

#real {

    font-size: 45px;
    margin-left: 1080px;
    margin-top: -96px;

}

/*third*/

.counter {

    padding: 130px;
    background-color: #D9D9D9;

}

#count {

    text-align: center;
    font-size: 85px;
    color: #493F40;
    margin-top: -120px;

}

#countN1 {

    font-size: 45px;
    margin-left: 100px;
    color: black;

}

#countN2 {

    font-size: 45px;
    margin-left: 1090px;
    margin-top: -98px;
    color: black;

}

#bar3-1 {

    margin-left: 100px;
}

#bar3-2 {

    margin-left: 500px;
    margin-top: -25px;
}

#pl {

    font-size: 45px;
    margin-left: 40px;
    margin-top: -10px;

}

#out {

    font-size: 45px;
    margin-left: 1080px;
    margin-top: -96px;
}

/*fourth*/

.char {

    padding: 130px;
    background-color: #D9D9D9;

}

#char {

    text-align: center;
    font-size: 85px;
    color: #493F40;
    margin-top: -120px;

}

#charN1 {

    font-size: 45px;
    margin-left: 100px;
    color: black;

}

#charN2 {

    font-size: 45px;
    margin-left: 1090px;
    margin-top: -98px;
    color: black;

}

#bar4-1 {

    margin-left: 100px;
}

#bar4-2 {

    margin-left: 500px;
    margin-top: -25px;
}

#f {

    font-size: 45px;
    margin-left: 40px;
    margin-top: -10px;

}

#cau {

    font-size: 45px;
    margin-left: 1080px;
    margin-top: -96px;
}

/**/

#foot1 {

    color: #EBE0CE;
    font-size: 80px;
    margin-left: 85px;

}

#footColor {

    color: #FFDC7F;
    font-size: 80px;
    margin-top: -90px;
    margin-left: 110px;
}

#beepfrog {

    margin-left: 550px;

}

.foot a {

    text-decoration: none;
    color: #EBE0CE;
    margin-left: -350px;
    font-size: 45px;
}

#tracy {

    width: 40%;
    margin-left: 700px;
    margin-bottom: 100px;
    margin-top: 60px;

}

#abm {

    color: #EBE0CE;
    font-size: 190px;
    margin-left: 650px;
    margin-top: -150px;
    margin-bottom: -70px;
    transform: rotate(-5deg);
}